<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataReflix"
        tools:targetApi="31">
        <activity
            android:name=".Olvide_usuario"
            android:exported="false" />
        <activity
            android:name=".Tiendas.Ver_tienda"
            android:exported="false" />
        <activity
            android:name=".Reportes.Rpt_marcacion"
            android:exported="false" />
        <activity
            android:name=".Reportes.Ver_reportes"
            android:exported="false" />
        <activity
            android:name=".Horarios.Ver_horarios"
            android:exported="false" />
        <activity
            android:name=".Horarios.Det_horario"
            android:exported="false" />
        <activity
            android:name=".Horarios.Add_horario"
            android:exported="false" />
        <activity
            android:name=".Marcacion.Ver_marcaciones"
            android:exported="false" />
        <activity
            android:name=".Marcacion.Det_marcacion"
            android:exported="false" />
        <activity
            android:name=".Marcacion.Add_marcacion"
            android:exported="false" />
        <activity
            android:name=".Actividades.Det_actividad"
            android:exported="false" />
        <activity
            android:name=".Actividades.Add_actividad"
            android:exported="false" />
        <activity
            android:name=".Actividades.Ver_actividades"
            android:exported="false" />
        <activity
            android:name=".Usuarios.Det_usuario"
            android:exported="false" />
        <activity
            android:name=".Usuarios.Add_usuario"
            android:exported="false" />
        <activity
            android:name=".Solicitudes.Ver_solicitudes"
            android:exported="false" />
        <activity
            android:name=".Solicitudes.Det_solicitud"
            android:exported="false" />
        <activity
            android:name=".Solicitudes.Add_solicitud"
            android:exported="false" />
        <activity
            android:name=".Vi_fotos"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnnPJ51BnlHT05d7I9ALDb-QRwN_BBbfU" />
    </application>

</manifest>